
/GameApplication/x64
/GameEngine/x64
/x64
/packages
/.vs
.vs/Teapot-Sdk/FileContentIndex/5052b0dc-bdbe-4326-be8a-1fe5cec159c6.vsidx
.vs/Teapot-Sdk/FileContentIndex/50682a97-1a08-4e78-9ffe-1f776bc70dc4.vsidx
.vs/Teapot-Sdk/v17/Browse.VC.db
.vs/Teapot-Sdk/v17/Solution.VC.db
*.db
GameApplication/GameApplication.vcxproj.filters
/vcpkg_installed
/x64-windows
GameApplication/GameApplication.vcxproj.filters
/Debug
/GameApplication/Debug
/GameEngine/Debug
GameApplication/GameApplication1.aps
GameApplication/GameApplication1.aps
GameApplication/GameApplication.aps
