<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <AppDetails>
    <add key="name" value="GameApplication" />
  </AppDetails>
  <appSettings>
    <add key="client_id" value="<your-service-account-id>"/>
    <add key="client_secret" value="<your-client-secret>"/>
    <add key="redirect_uri" value="http://127.0.0.1:5001/dynasty-teapot-sample/us-central1/UserLogin"/>
    <add key="authorization_Endpoint" value="https://accounts.google.com/o/oauth2/v2/auth"/>
    <add key="authorization_code" value="AUTHORIZATION_CODE_FROM_GOOGL"/>
    <add key="Scopes" value="https://www.googleapis.com/auth/googleplay.products%20https://www.googleapis.com/auth/googleplay.purchases"/>
    <add key="tokenEndpoint" value="https://oauth2.googleapis.com/token"/>
  </appSettings>
</configuration>
